.modal-input {
    border: none;
    border-radius: 3px;
    padding: 2%;
    font-size: 1.5rem;
    color: #343838;
}

#champ_date1 {
    padding: 2% !important;
}

.modal-content {
    background-color: #343838;
    padding: 5%;
    border-radius: 0;
}

.modal h4 {
    font-family: "mermaid-reg", serif;
    text-align: center;
    font-size: 4rem;
    color: #d8c091;
}

.modal-header, .modal-footer, .modal-body {
    border: none;
    text-align: center;
    padding: 0;
}

.modal-body img {
    height: 3vw;
    margin: 0 0 4% 0;
}

.modal-header, .modal-footer {
    padding: 0;
}

.frame-modal {
    border: solid 1px #d8c091;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#champ_date1, select, input, .selecteur {
    padding: 5px;
    width: 70%;
    margin-bottom: 4%;
}

.btn-modal {
    font-family: "mermaid-reg", serif;
    font-size: 2rem;
    color: #d8c091;
    width: 70%;
    background-color: #343838;
    border: solid 2px #d8c091;
    border-radius: 0;
    margin: 2rem 0 0 0;
    padding: 0.7rem 3rem 0.7rem 3rem;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-modal:hover, .btn-modal:active {
    color: #343838;
    background: #d8c091;
    border: solid 2px #d8c091;
}

.close {
    color: #d8c091;
}

/* DEBUT calendrier JS : jsSimpleDatePickr */
#calendarMain1 {
    margin: 0 0 0 25%;
}

/* conteneur calendrier */
.calendarWrap{
    display: none;
    position: absolute;
    z-index: 1000;
    width: 230px;
    padding: 5px 10px 10px 10px;
    background-color: #2e373f;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #555;
    -webkit-box-shadow: 0 0 10px #555;
    box-shadow: 0 0 10px #555;
    font-size: 12px;
}
/* bouton d'affichage*/
#calendarMain1 > input {
    display: block;
    width: 100px;
    height: 22px;
    padding-top: 2px;
    background-color: #2e373f;
    color: #fff;
    border-radius: 5px;
    border: none;
}

#calendarMain1 > input:hover {
    background-color: #2673cb;
}
/* navigation dans le calendrier */
.calendarWrap ul{
    margin: 5px 0 10px 0;
    padding: 0;
}

.calendarWrap li{
    margin: 0;
    padding: 0;
    width: 20px;
    display: inline-block;
    *display: inline;
}

.calendarWrap li.calendarTitle{
    width: 170px;
    color: #ccc;
    text-align: center;
}

.calendarWrap li input{
    width: 20px;
    background-color: #5d6f7f;
    border: none;
    color: #fff;
}
.calendarWrap li input:hover{
    background-color: #6f8598;
}
/* calendrier */
.jsCalendar{
    color: #fff;
    border-collapse: collapse;
}

.jsCalendar th{
    color: #8ba7bf;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.jsCalendar td{
    padding: 0;
    border: none;
}

.jsCalendar a{
    display: block;
    width: 30px;
    padding: 3px 0 3px 0;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.jsCalendar .day:hover a{
    background-color: #2673cb;
    border-color: #2673cb;
}

.jsCalendar .selectedDay a{
    background-color: #c44d38;
    border-color: #c44d38;
}
/* FIN calendrier JS : jsSimpleDatePickr */


@media (max-width: 500px) {
    .modal-body img {
        height: 6vw;
    }

    #champ_date1, select, input, .selecteur, .btn-modal {
        width: 90%;
    }
}