form {
	margin: 5% 0 0 0;
	text-align: center;
}

.form, .map {
	margin: 0;
	padding: 3%;
	height: 50vw;
	background-color: #89aeb7;
	background-image: url(im/pattern.png);
}

.form p {
	text-align: center;
	color: white;
}

.form img {
	width: 17vw;
	margin: 2rem 0 0 0;
	float: left;
}

.contact h2 {
	font-family: "mermaid-reg", serif;
	text-align: center;
	color: #89aeb7;
	font-size: 4.5rem;
	margin: 0;
}

.glyphicon {
	text-align: center;
	color: white;
	font-size: 5rem;
}

map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.form-control {
	border: none;
	font-size: 1.5rem;
}

.btn-contact {
	float: right;
	border-radius: 0;
	border: solid 2px white;
	background: none;
	color: white;
	font-family: "mermaid-reg", serif;
	font-size: 2rem;
	margin: 2rem 0 0 0;
	padding: 0.7rem 3rem 0.7rem 3rem;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.btn-contact:hover {
	border: solid 2px white;
	background: white;
	color: #89aeb7;
}

@media (max-width: 500px) {
	.form {
		padding: 5%;
		height: 100%;
	}

	.form img {
		width: 35vw;
	}

	form {
		margin: 5% 0 0 0;
	}

	.content-text h2 {
	font-size: 3rem;
	}

	.map {
		height: 100vw;
	}

	.glyphicon-send {
		margin-bottom: 3rem;
	}
}

@media (max-width: 768px) {
	.glyphicon {
		font-size: 3rem;
	}
}

@media (min-width: 1024px) {
	.form h2 {
		font-size: 4.5rem;
	}

	.form-control {
		padding: 5%;
	}
}

@media (min-width: 1280px) {
	.form h2 {
		font-size: 6rem;
	}

	.form p {
		font-size: 1.5rem;
	}
}