footer {
	text-align: center;
	padding: 3% 0% 2% 0%;
	background-color: #556270;
}

footer p {
	font-size: 1.5rem;
	line-height: 2rem;
	color: #d8c091;
}

footer h2 {
	font-family: "mermaid-reg", serif;
	font-size: 2.5rem;
	line-height: 6rem;
	color: #d8c091;
}

.horaire {
	margin: 5%;
	padding: 0 0 2% 0;
	border: solid 1px #d8c091;
}