@font-face {
  font-family: "mermaid";
  src:  url('fonts/Mermaid-Swash-Caps.ttf');
}

@font-face {
  font-family: "angleterre";
  src:  url('fonts/angltrr.ttf');
}

@font-face {
  font-family: "mermaid-reg";
  src:  url('fonts/Mermaid1001.ttf');
}

/* Nav */

.navbar {
	background-color: #9bc1ca;
	margin: 0;
	border: 0;
	opacity: 0.9;
}

.navbar li a{
	font-size: 2rem;
	background: none;
	font-family: "angleterre";
}

.navbar-default .navbar-nav>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar-right {
	right: 10%;
	left: 40%;
}

.logo-div{
	position: absolute;
	z-index: 1;
}

.logo{
	position: fixed;
	left: 42%;
	width: 16%;
	right: 42%;
	top: -19vw;
	height: auto;
	z-index: 1;
}

.btn_mobile{
	position: fixed;
  	bottom: -4px;
  	width: 100%;
  	background-color : #9bc1ca;
  	color: white;
  	padding: 10px 20px;
  	border-radius: 4px;
  	border-color: #46b8da;
  	z-index:1;
}

h1, h2, h3 {
	font-family: "mermaid", serif;
}

p {
	font-family: "angleterre", serif;
}


h2 {
	text-align: center;
	font-size: 2.5rem;
	margin: 0;
}

body, section, nav, footer, .container-fluid, .row {
	margin: 0;
	padding: 0;
}

.col-sm-6 {
	margin: 0;
	padding: 0;
}

.contenu-texte p {
	text-align: justify;
}

.presentation {
	height: 30vw;
	margin: 2rem 0 0 0;
	overflow: hidden;
}

.cadre {
	border: solid 1px gray;
	padding: 7%;
	height: 45vw;
}



/* Menu */

.menu {
	position: relative;
	margin: 2rem 0 0 0;
	padding: 2rem 0 0 0;
}

.menu h1 {
	font-size: 6rem;
	text-align: center;
}

.nav {
	margin: 2rem 0 2rem 0;
}

.photo-plat {
	margin: 0;
	padding: 0;
	height: 25vw;
	overflow: hidden;
}

.photo-plat img {
	height: 25vw;
}

.description-plat {
	margin: 0;
	padding: 0;
	height: 25vw;
	padding: 2% 3% 2% 3%;
	background-color: gray;
}





/* Media queries */

@media (max-width: 768px) {
	.separateur {
		visibility: hidden;
	}
}

